@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Noto+Serif+Display:wght@400;500;600;700&display=swap&family=Open+Sans:wght@400;500;600;700;800&display=swap&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap&family=Figtree:wght@400;500;600;700;800;900&display=swap');

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Noto Serif Display', serif;
$third-font: 'Open Sans', sans-serif;;
$fourth-font: 'Unbounded', sans-serif;
$fifth-font: 'Figtree', sans-serif;
$six-font:  'Mabry pro, sans-serif';



$black-color: rgb(29, 29, 29);
$white-color: ghostwhite;
$grey-color: #9C9C9C;
$blue-color: #3A47F4;
$yellow-color: rgb(255, 204, 0);


// $black-color : #E3E3E3;
// $white-color : #000000;
// $grey-color : #636363;
// $blue-color : #C5B80E;
// $yellow-color: #0000FB;




$max-width: 1500px;
$title-size: 11em;
$tiny-size: 12px;
$header-size: 2.1em;
$base-font-size: 14px; 

@mixin maxWidth {
    max-width: $max-width;
    margin: auto;
}
@mixin padding($top: 20px, $bottom: 4vw) {
    padding: $top $bottom;
    margin: auto;
    @media screen and (max-width: map-get($breakpoints, 'sm')) {
        padding: $top 12px;
    }
}



//breakpoints
$breakpoints: (
    'xsm': 320px,
    'sm': 576px,
    'md': 768px,
    'lg': 992px,
    'xl': 1200px,
    'xxl': 2000px
);


@font-face {
    font-family: Mabry pro;
    src: url(../../public/assets/fonts/mabry-regular-pro.woff2) format("woff2"),
      url(../../public/assets/fonts/mabry-regular-pro.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: Mabry pro;
    src: url(../../public/assets/fonts/mabry-italic-pro.woff2) format("woff2"),
      url(../../public/assets/fonts/mabry-italic-pro.woff) format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: Mabry pro;
    src: url(../../public/assets/fonts/mabry-medium-pro.woff2) format("woff2"),
      url(../../public/assets/fonts/mabry-medium-pro.woff) format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: Mabry pro;
    src: url(../../public/assets/fonts/mabry-medium-italic-pro.woff2) format("woff2"),
      url(../../public/assets/fonts/mabry-medium-italic-pro.woff) format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: Mabry pro;
    src: url(../../public/assets/fonts/mabry-bold-pro.woff2) format("woff2"),
      url(../../public/assets/fonts/mabry-bold-pro.woff) format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }