@import './base.scss';

//components
@import './components/_header.scss';
@import './components/_footer.scss';

// pages
@import './pages/home.scss';
@import './pages/_project.scss';
@import './pages/_about.scss';
@import './pages/_singleProject.scss';
@import './pages/singleProject.scss';
@import './pages/_contact.scss';
@import './pages/_archieve.scss';



* {
    font-family: $primary-font;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    color: $black-color;
}

body {
    background-color: $white-color;
}
::selection {
    background-color: $yellow-color;
    color: $black-color;
  }


::-webkit-scrollbar {
  width: 7px;
  height: 7px; 
}
::-webkit-scrollbar-track {
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  border-radius: 24px;
  background-color: $black-color;
}
