@import './base.scss';

//components
@import './components/_header.scss';

// pages
@import './pages/home.scss';
@import './pages/_project.scss';




* {
    font-family: $primary-font;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    color: $black-color;
}

body {
    // background-color: $white-color;
}
::selection {
    background-color: $yellow-color;
    color: $black-color;
  }
