.aboutMe {
    // background-color: $white-color;
    // padding-top: 140px;
    .container {
        @include maxWidth;
        max-width: 1300px;
        @include padding;
        display: grid;
        grid-template-columns: 1fr;
        font-family: $third-font;
        .sec1 {
            display: grid;
            grid-template-columns: .2fr 1fr;
            gap: 50px;
            align-items: center;
            padding: 150px 0 100px 0;
            @media screen and (max-width: map-get($breakpoints, 'lg')) {
                grid-template-columns: 1fr;
                padding-bottom: 50px;
            }
            img {
                width: 409px;
                height: auto;
                border-radius: 5px;
                @media screen and (max-width: map-get($breakpoints, 'lg')) {
                    display: none;
                }
            }
            .details {
                display: flex;
                flex-direction: column;
                .title {
                    font-size: $header-size;
                    letter-spacing: -1px;
                    font-family: $third-font;
                    @media screen and (max-width: map-get($breakpoints, 'md')) {
                        font-size: 1.6em;
                    }
                    @media screen and (max-width: map-get($breakpoints, 'sm')) {
                        font-size: 1.4em;
                    }
                }
                span {
                    margin: 20px 0;
                    display: inline;
                    font-size: $tiny-size;
                    font-family: $third-font;
                }
                .desc {
                    display: block;
                    font-size: 15px;
                    line-height: 25px;
                    font-family: $third-font;
                }
                .stack {
                    display: flex;
                    gap: 10px;
                    svg {
                        height: 20px;
                        opacity: .6;
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .sec2, .sec3{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            padding: 150px 0;
            gap: 40px;
            border-bottom: 1px solid $black-color;
            @media screen and (max-width: map-get($breakpoints, 'lg')) {
                padding: 50px 0;
            }
            @media screen and (max-width: map-get($breakpoints, 'md')) {
                grid-template-columns: 1fr ;
            }
            .title {
                font-size: $header-size;
                text-transform: capitalize;
                font-weight: 500;
                @media screen and (max-width: map-get($breakpoints, 'sm')) {
                    font-size: 1.4em;
                    letter-spacing: -1px;
                }
            }
            div {
                display: flex;
                flex-direction: column;
                gap: 15px;
                @media screen and (max-width: map-get($breakpoints, 'sm')) {
                    gap: 10px;
                }
                cursor: default;
                span {
                    font-size: 15px;
                    font-family: $third-font;
                }
            }
        }
        .sec3 {
            outline: none;
            border: none;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            @media (max-width: map-get($breakpoints, 'lg')) {
                grid-template-columns: 1fr 1fr;
            }
            @media (max-width: map-get($breakpoints, 'md')) {
                grid-template-columns: 1fr;
            }
        }
        .sec2 {
            outline: none;
            border: none
        }
    }
    .tab-buttons {
        display: flex;
        gap: 50px;
        @media screen and (max-width: map-get($breakpoints, 'sm')) {
            gap: unset;
            justify-content: space-between;
        }
    
        border-bottom: 1px solid #ccc;
        p {
            padding: 10px 0px;
            cursor: pointer;
            background-color: inherit;
            font-weight: 600;
            letter-spacing: -1px;
            &.active {
                border-bottom: 2px solid red;
            }
        }
    }
    
    .tab-content {
        margin-top: 30px;
        .container-icon {
            display: flex;
            flex-direction: row;
            gap: 20px;
            flex-wrap: wrap;
            cursor: default;
            @media (max-width: map-get($breakpoints, 'sm')) {
                gap: 10px;
            }
            div {
                display: flex;
                align-items: center;
                gap: 20px;
                outline: 1px solid $white-color;
                padding: 10px 20px;
                border-radius: 5px;
                @media (max-width: map-get($breakpoints, 'sm')) {
                    gap: 10px;
                    padding: 10px 10px;
                }
                span {
                    // font-family: $third-font;
                    letter-spacing: -1px;
                    text-transform: capitalize;
                    display: inline;
                    @media (max-width: map-get($breakpoints, 'sm')) {
                        font-size: 15px;
                    }
                }
                img {
                    height: 25px;
                }
            }
        }
    }
  
}