.hero {
    margin-top: 100px;
    .container {
        @include maxWidth;
        @include padding;
        padding-top: 70px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        @media screen and (max-width: map-get($breakpoints, 'sm')) {
            gap: 10px;
            padding-top: 100px;
        }
        .title {
            font-weight: 600;
            font-size: 15px;
            @media screen and (max-width: map-get($breakpoints, 'md')) {
                font-size: 14px;
            }
            @media screen and (max-width: map-get($breakpoints, 'sm')) {
                font-size: 12px;
            }
        }
        p {
            font-size: 2em;
            letter-spacing: -1px;
            @media screen and (max-width: map-get($breakpoints, 'md')) {
                font-size: 1.6em;
            }
            @media screen and (max-width: map-get($breakpoints, 'sm')) {
                font-size: 1.2em;
            }
            span {
                display: inline;
                font-size: 15px;
                font-weight: bold;
                background-color: $yellow-color;
                border-radius: 50px;
                padding: 1px 10px;
                @media screen and (max-width: map-get($breakpoints, 'md')) {
                    font-size: 14px;
                }
                @media screen and (max-width: map-get($breakpoints, 'sm')) {
                    font-size: 12px;
                }
            }
        }
        .about {
            display: flex;
            gap: 10px;
            align-items: center;
            @media screen and (max-width: map-get($breakpoints, 'sm')) {
                margin-top: 10px;
            }
            span {
                font-size: 12px;
                text-transform: capitalize;
            }
            svg {
                height: 10px;
            }
        }
    }
}