// @import './mixins.scss';


.project {
    padding-top: 100px;      
    .container {  
        display: flex;
        flex-direction: column;
        gap: 80px;
        @include maxWidth;
        @include padding;
        @media (max-width: map-get($breakpoints, 'sm')) {
             gap: 40px;
         }
        .section1 {
            p {
                 font-size: $title-size;
                 font-weight: 500;
                 text-transform: uppercase;
                 font-size: 5em;
                //  letter-spacing: -2px;
                 @media (max-width: map-get($breakpoints, 'sm')) {
                    font-size: 2em;
                 }
                 span {
                    font-size: 15px;
                 }
             }  
        }
        .tags {
            display: flex;
            flex-direction: row;
            justify-content: unset;
            align-items: center;
            margin: 20px 0;
            @media (max-width: map-get($breakpoints, 'sm')) {
                margin-top: 20px;
                flex-direction: column;
                gap: 10px;
                p {
                    width: 100%;
                    background-color: inherit;
                }
             }
            p {
                font-size: 12px;
            }
            ul {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 5px;
                margin-left: 5px;
                li {
                    background-color: $yellow-color;
                    border-radius: 50px;
                    padding: 1px 10px;
                    font-size: 12px;
                    letter-spacing: -1px;
                }
            }
        }
        .section2 {
         .project-container {
             display: grid; 
             grid-template-columns: 1fr; 
             gap: 70px 25px; 
     
             @media (max-width: map-get($breakpoints, 'lg')) {
                 grid-template-columns: 1fr; 
             }
             @media (max-width: map-get($breakpoints, 'sm')) {
                 gap: 40px 25px; 
             }
             .item {
                 display: flex;
                 flex-direction: column;
                 transition: .3s ease-in-out;
                 &:hover {
                     cursor: pointer;
                     .image {
                         overflow: hidden;
                         img {
                             transform: scale(1.2,1.2);
                         }
                     }
                 }
                 .image {
                     // width: 579px;
                     height: 376px;
                     // border-radius: 10px;
                     overflow: hidden;
                     position: relative;
     
                     border-radius: 10px;
     
                     @media (max-width: map-get($breakpoints, 'sm')) {
                         height: 247px;
                     }
                     img {
                         width: 100%;
                         height: 100%;
                         object-fit: cover;
                         // display: none;
                         // border-radius: 10px; 
                         transition: 2s ease-in-out;
                         @media (max-width: map-get($breakpoints, 'sm')) {
                             border-radius: 5px;
                         }
                     }
                 }
                 .details {
                     display: flex;
                     flex-direction: column;
                     gap: 3px;
     
                     .stack {
                         margin-top: 10px;
                         @media (max-width: map-get($breakpoints, 'sm')) {
                             margin-top: 15px;
                         }
                         ul {
                             display: flex;
                             gap: 10px;
     
                             li {
                                 position: relative;
                                 text-transform: uppercase;
                                 letter-spacing: -1px;
                                 font-size: $tiny-size;
                                 @media (max-width: map-get($breakpoints, 'sm')) {
                                     font-size: 10px;
                                 }
                                 &:not(:last-child)::after {
                                     content: '';
                                     position: absolute;
                                     height: 3px;
                                     width: 3px;
                                     background-color: $black-color;
                                     border-radius: 50px;
                                     top: 45%;
                                     margin-left: 4px;
                                     trranform: translateY(-10%);
                                 }
                             }
                         }
                     }
                     .title {
                         p {
                             font-size: $header-size;
                             letter-spacing: -1px;
                             font-weight: 500;
     
                             @media (max-width: map-get($breakpoints, 'sm')) {
                                 font-size: 1.7em;
                             }
                         }
                     }
                 }
             }
         }
        }
    }
}

