.Single-project {
    // padding-top: 100px;
    // background-color: $white-color;
    @include padding(70px, 50px);
    @media (max-width: map-get($breakpoints, 'md')) {
        padding-top: 20px;
    }
    .container {
        @include maxWidth;
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-top: 70px;
        @media (max-width: map-get($breakpoints, 'sm')) {
            gap: 30px;
        }
        .title {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 0;
            .sec1 {
                display: grid;
                gap: 10px;
                p {
                    font-weight: 600;
                    font-family: $fourth-font;
                    font-size: $header-size;
                    @media (max-width: map-get($breakpoints, 'sm')) {
                        font-size: 1.5em;
                    }
                }
                span {
                    font-size: 17px;
                    font-family: $fifth-font;
                    font-weight: 600;
                }
            }
            .line {
                .live {
                    font-size: 18px;
                    font-weight: 500;
                    text-decoration: underline;
                    background-color: $blue-color;
                    color: $white-color;
                    padding: 10px 15px;
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    @media (max-width: map-get($breakpoints, 'sm')) {
                        font-size: 15px;
                        padding: 10px 6px;
                        background-color: inherit;
                        color: $black-color;
                        gap: 5px;
                    }
                    svg {
                        display: flex;
                        stroke: $white-color;
                        @media (max-width: map-get($breakpoints, 'sm')) {
                            height: 20px;
                            stroke: $black-color;
                        }
                    }
                    &:hover {
                        background-color: $black-color;
                        @media (max-width: map-get($breakpoints, 'sm')) {
                           background-color: unset;
                        }
                    }
                }
                svg {
                    display: flex;
                    @media (max-width: map-get($breakpoints, 'sm')) {
                        height: 20px;
                    }
                }
            }
        }
        .image {
            height: 550px;
            overflow: hidden;
            @media (max-width: map-get($breakpoints, 'lg')) {
                height: fit-content;
            }
            img {
                width: 100%;
                height: auto;
                object-fit: contain;
            }
        }
        .details {
            @include padding(70px, 50px);
            display: grid;
            grid-template-columns: 1fr .4fr;
            gap: 150px;
            background-color: $white-color;
            @media (max-width: map-get($breakpoints, 'lg')) {
                @include padding(50px, 50px);  
                gap: 50px;
            }
            @media (max-width: map-get($breakpoints, 'md')) {
                grid-template-columns: 1fr;
                gap: 40px;
            }
            @media (max-width: map-get($breakpoints, 'sm')) {
                gap: 30px;
                padding: 30px 20px 20px 20px;
            }
            .about {
                display: grid;
                p {
                    @include title;
                }
                span {
                    font-family: $fifth-font;
                    font-size: 17.6px;
                    display: block;
                    line-height: 25px;
                    @media (max-width: map-get($breakpoints, 'md')) {
                        width: unset;
                    }
                }
            }
            .tech {
                display: grid;
                gap: 20px;
                @media (max-width: map-get($breakpoints, 'md')) {
                    gap: 30px;
                }
                div {
                    line-height: 25px;
                    p, span {
                        font-weight: 600;
                        font-size: 17.6px;
                        font-family: $fifth-font;
                        @media (max-width: map-get($breakpoints, 'md')) {
                            font-size: 16px;
                        }
                    }
                    span {
                        font-weight: 400;
                    }
                }
            }
            .link {
                order: 4;
                display: flex;
                gap: 20px;
                align-items: center;
                @media (max-width: map-get($breakpoints, 'sm')) {
                    margin-top: 15px;
                }
                p {
                    font-size: 18px;
                    font-weight: 400;
                    // text-decoration: underline;
                    background-color: $blue-color;
                    color: $white-color;
                    padding: 10px 15px;
                    display: flex;
                    gap: 10px;
                    @media (max-width: map-get($breakpoints, 'sm')) {
                        font-size: 15px;
                    }
                    svg {
                        display: flex;
                        stroke: $white-color;
                        @media (max-width: map-get($breakpoints, 'sm')) {
                            height: 20px;
                        }
                    }
                    &:hover {
                        background-color: $black-color;
                    }
                }
                svg {
                    display: flex;
                    @media (max-width: map-get($breakpoints, 'sm')) {
                        height: 20px;
                    }
                }
            }
        }
        .process {
            @include padding(70px, 50px);
            display: grid;
            margin: unset;
            gap: 20px;
            background-color: $white-color;
            @media (max-width: map-get($breakpoints, 'lg')) {
                @include padding(50px, 50px);  
            }
            @media (max-width: map-get($breakpoints, 'sm')) {
                gap: 30px;
                padding: 30px 20px 20px 20px;
            }
            p {
                @include title;
            }
            span {
                font-family: $fifth-font;
                font-size: 17.6px;
                display: block;
                line-height: 25px;
                @media (max-width: map-get($breakpoints, 'md')) {
                    width: unset;
                }
            }

            div {
                display: grid;
                gap: 30px;

                ul {
                    display: grid;
                    gap: 30px;
                    li {
                        display: grid;
                        gap: 5px;
                        font-weight: 900;
                        span {
                            font-weight: 400;
                        }
                    }
                }
            }
        }
        .accomplishments {
            @include padding(70px, 50px);
            margin: unset;
            // outline: 1px solid $black-color;
            display: grid;
            gap: 20px;
            background-color: $white-color;
            @media (max-width: map-get($breakpoints, 'lg')) {
                @include padding(50px, 50px);  
            }
            @media (max-width: map-get($breakpoints, 'sm')) {
                gap: 30px;
                padding: 30px 20px 20px 20px;
            }
            p {
                font-size: 25px;
                font-weight: 600;

                font-family: $fourth-font;
                @media (max-width: map-get($breakpoints, 'md')) {
                    font-size: 20px;
                }
            }
            ol {
                display: flex;
                flex-direction: column;
                gap: 10px;
                li {
                    list-style-type: square;
                    font-family: $fifth-font;
                    font-size: 17.6px;
                }
            }
        }
        .all_images_container {
            display: grid;
            gap: 20px;
            p {
                font-size: 25px;
                font-weight: 600;
                font-family: $fourth-font;
                @media (max-width: map-get($breakpoints, 'md')) {
                    font-size: 20px;
                }
            }
            .images {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                padding: 20px;
                gap: 20px;
                background-color: $black-color;
                @media (max-width: map-get($breakpoints, 'lg')) {
                    grid-template-columns: 1fr 1fr;
                }
                @media (max-width: map-get($breakpoints, 'md')) {
                    grid-template-columns: 1fr ;
                    padding: 10px;
                    gap: 10px;
                }
                .image {
                    // height: 250px;
                    height: fit-content;
                   overflow: hidden;
                   position: relative;
                   display: flex;
                   align-items: center;
                   justify-content: center;
                   outline: 1px solid $white-color;
                   img {
                       width: 100%;
                       height: 100%;
                       object-fit: contain;
                       transition: 2s ease-in-out;
                   }
                }
            }
        }
        .seeMore {
            @include padding(70px, 50px);
            margin: unset;
            display: flex;
            justify-content: space-between;
            border-radius: 15px;
            background-color: $white-color;
            @media (max-width: map-get($breakpoints, 'lg')) {
                @include padding(50px, 50px);  
                margin: unset;
            }
            @media (max-width: map-get($breakpoints, 'sm')) {
                gap: 30px;
                padding: 30px 20px 20px 20px;
                margin: unset;
            }
            p {
                font-size: 25px;
                font-weight: 600;
                font-family: $fourth-font;
                @media (max-width: map-get($breakpoints, 'md')) {
                    font-size: 20px;
                }
                @media (max-width: map-get($breakpoints, 'sm')) {
                    font-size: 17px;
                }
            }
            span {
                font-family: $fifth-font;
                font-size: 17.6px;
                display: inline;
                font-size: 13px;
                width: 80%;
                line-height: 25px;
                @media (max-width: map-get($breakpoints, 'md')) {
                    width: unset;
                }
            }
            .archieve {
                @media (max-width: map-get($breakpoints, 'sm')) {
                    display: none;
                }
            }
        }
    }
    .error {
    }
}